body {
    background-image: url(images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
header {
    margin-top: 25px;
}
li a {
    color: black;
    font-size: 25px;
    margin-right: 20px;
}
li a:hover {
    background-color:  yellow;
    font-size: 35px;
    transition-property: all;
    transition-duration: 0.5s;
    transform: rotate(20deg);    
}
.logo {
    margin-right: 150px;
    width: 50px;
}
