body {
    background-color: whitesmoke;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Shadows Into Light', cursive;
}
header {
    margin-top: 5px;
}
li a {
    color: black;
    font-size: 25px;
    margin-right: 20px;
}
li a:hover {
    background-color:  violet;
    transition-property: all;
    transition-duration: 0.5s;
    transform: rotate(10deg);
    font-size: 35px;   
    box-shadow: 5px 5px 5px 5px black;
}
.logo {
    margin-right: 150px;
    width: 80px;
}
.d-block {
    width: 800px;
    height: 600px;
}
.c-black {
    color: black;
    font-size: 25px;
    font-family: 'VT323', monospace;

}
.c-black:hover {
    color: violet;
    box-shadow: 5px 5px 5px 5px black;
    transition-property: all;
    transition-duration: 0.5s;
    font-size: 35px;
 
}
.flex {
    display: flex;
    justify-content: space-between;
    margin-top: 50px; 
}
.card-text {
    margin-bottom: 15px;
    font-size: 20px;
    color: violet;
    background-color: black;
    font-family: 'Fredericka the Great', cursive;
}
.icons {
    margin-right: 10px;
}
.title-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    margin-top: 50px;
    margin-bottom: 10px;
    color: black;

}
.title-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    margin-bottom: 50px;
    color: black;
}
.box {
    width: 450px;
    height: 500px;
    background-image: url(images/grece.jpg);
    background-size: cover;
}
.tours {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.btn {
    color: black;
    font-size: 25px;
    font-family: 'Fredericka the Great', cursive;

}
.btn:hover {
    color: violet;
    font-size: 30px;
    transition-property: all;
    transition-duration: 0.5s;
}
.btn-lg {
    background-color: violet;
    border-color: black;
}
.btn-lg:hover {
    background-color: black;
    border-color: violet;
    transition-property: all;
    transition-duration: 0.5s;
}
.greece {
    font-size: 30px;
    color: violet;
    background-color: black;
    font-family: 'Fredericka the Great', cursive;

}
.greece:hover {
    font-size: 25px;
    color: black;
    background-color: violet;
    transition-property: all;
    transition-duration: 0.5s;
    box-shadow: 5px 5px 5px 5px black;
}
.box1 {
    width: 450px;
    height: 500px;
    background-image: url(images/sea.jpg);
    background-size: cover;
}
.box2 {
    width: 450px;
    height: 500px;
    background-image: url(images/mauritius.jpg);
    background-size: cover;
}
.progress {
    width: 100%;
    height: 30px;
    margin-top: 10px;
}
.stats {
    font-size: 20px;
    color: rgb(153, 0, 255);
}
.nickname {
    font-size: 25px;
}
.about {
    width: 600px;
    margin-top: 30px;
}
.about-flex {
    display: flex;
    justify-content: space-around;
    align-items:center;
}
.ppl-say {
    font-size: 40px;
    margin-top: 30px;
    margin-left: 20px;  
}
.photos {
    width: 400px;
    height: 450px;
    margin-bottom: 20px;
}
.wrap {
    flex-wrap: wrap;
}
.flex1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
@media (max-width:1024px) {
    .container {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .card {
        margin-left: 15px;
        margin-bottom: 15px;
    }
    .container-fluid {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .tours {
        margin-left: 15px;
        margin-bottom: 15px;
    }
    .about-flex {
        flex-wrap: wrap;
    }
    .title-1 {
        justify-content: center;
        align-items: center;
    }
    .title-3 {
        justify-content: center;
        align-items: center;
    }
}
.bg-cl {
    background-color: violet;
    border: 4px solid black;
}
.sign-in {
    color: black;
    font-size: 25px;
}
.sign-in:hover {
    color: violet;
    box-shadow: 5px 5px 5px 5px black;
    font-size: 35px;
    transition-property: all;
    transition-duration: 0.5s;
}